{
	"arrowParens": "always",
	"singleQuote": true,
	"useTabs": true,
	"trailingComma": "all",
	"printWidth": 80,
	"proseWrap": "always",
	"endOfLine": "lf",
	"semi": false,
	"importOrder": ["^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
